*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   
}
body{
    background-color: rgb(157, 235, 255);
}
.title{
    text-align: center;
    margin-top: 4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    
}
.question{
    display: flex;
    background-color: rgb(254, 255, 255);
    width: 35%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    
    
    

}
.question{
    display: flex;
    background-color: rgb(254, 255, 255);
    width: 35%;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    /* margin-bottom: 40px; */
    
    
    
    

}
.question-title{
    display: flex;
    justify-content: space-between;
  
    width: 100%;
}
.question-title .text{
    flex: 5;
    font-size: 1.1rem;
    margin-bottom: 5px;
}
button{
    flex: 1;
    background-color: inherit;
    border: none;
}
button i{
    color: green;
    border-radius: 5px;
    border: 1px solid green;
    flex: 1;
    font-size: 1rem;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: .3s all;

}
button i:hover{
    background-color: green;
    color: white;
}
/* .minus{
    display: none;
} */
.texts{
    font-size: 0.85rem;
    display: none;
    

}

.mbtn{
    display: none;

}
.show-text .mbtn{
    display: block;
}
.show-text .pbtn{
    display: none;
}
.show-text .texts{
    display: block;
    margin-top: 10px;
}
@media (max-width: 600px){
    .question{
        display: flex;
        background-color: rgb(254, 255, 255);
        width: 80%;
        padding: 7px;
        border-radius: 5px;
        box-shadow: 0 0 5px;
        
        
        
    
    }

}